extends partial/layout

block site_title
    if page.title
        != page.title + " | " + config.title

block description
    - var desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    include mixins/post
    +post(page)

block pagination
    include partial/sns-share
    include mixins/paginator
    +post()
    include partial/comment

block copyright
    include partial/copyright